 *{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    /* font-size: 0.9rem; */
 }

.app-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    background-color: #2e2e2e;
}

.center-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.settings-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.button-column {
    display: flex;
    flex-direction: column;
}

.center-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.center-panel-main {
    display: flex;
    height: 100%;
}

.machine-measurement-container {
    display: flex;
    align-items: center;
    padding: 2rem 2rem;
    flex-direction: column;
    gap: 1.5rem;
    width: 20%;
    height: 80%;
}

.measurement-data {
    display: flex;
    padding: 1rem;
    border-radius: 5px;
    flex-direction: column;
    font-size: 1.2rem;
    width: 100%;
    gap: 0.25rem;
    background-color: #676262;
}

.sequence-container {
    display: flex;
    border-radius: 5px;
    align-items: center;
    padding: 1rem 1rem;
    flex-direction: column;
    width: 20%;
    gap: 0.5rem;
    margin-left: auto;
    margin-bottom: 1rem;
    margin-right: 2rem;
    background-color: #4a4848;

}

.sequence-stage {
    font-size: 0.95rem;
    width: 100%;
    text-align: center;
}

.title {
    font-weight: 600;
}

.circle-indicator {
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    border-radius: 50%;
    position: absolute;
    background-color: rgb(82, 170, 58);
}

#indicator-1 {
    top: 45%;
    left: 36%;
}

#indicator-2 {
    top:55%;
    left: 36%;
}

#indicator-3 {
    top: 45%;
    left: 40%;
}

#indicator-4 {
    top: 55%;
    left: 40%;
}

#indicator-5 {
    top:62%;
    left: 33%;
}

#indicator-6 {
    top: 30%;
    left: 36%;
}

#indicator-7 {
    top: 30%;
    left: 41%;
}
.center-panel-main#centerPanel.active {
    filter: blur(5px);
    pointer-events: none;
    user-select: none;
}

.status-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem;
    gap: 0.5rem;
}
.data-container {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    height: 100%;
    width: 84%;
    padding: 0.5rem;
    gap: 0.5rem;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-bottom: 2rem;
    margin-top: 0.5rem;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
}

.data-table {
    background-color: rgb(38, 37, 37);
    width: 60%;
    height: 90%;
    margin-left: 1rem;
    align-self: baseline;
    align-items: baseline;
    justify-content: baseline;
    padding: 1rem 2rem;
    border-radius: 10px;
    border-spacing: 0.75rem;
}

th {
    text-align: left;
    border-bottom: 1px solid white;
    border-collapse: collapse;
}

td {
    border-bottom: 1px solid rgb(87, 87, 87);
    vertical-align: top;
}

.machine-data-container {
    display: flex;
    flex-direction: row;
    height: 90%;
    width: 80%;
}

.machine-data-popup {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    top: 30%;
    left: 30%;
    visibility: hidden;
    background-color: rgb(32, 89, 133);
    color: #fff;
    text-align: center;
    margin: 1rem;
    font-weight: 500;
    border-radius: 12px;
    padding: 2rem 3rem;
    position: absolute;
    z-index: 1;
}

.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }