
.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding-bottom: 0.5rem;
    background-color: #262829;
    box-shadow: 2px 2px 10px 0 rgb(30, 30, 30);
    font-family: Arial, Helvetica, sans-serif;

}



.Safety-data {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem 1rem;
    margin-right: 0.5rem;
    background-color: rgb(5, 135, 5);
    border-radius: 0.75rem;
    font-weight: 600;
    color: white;
}


.operator {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 1rem 1rem;
    margin-right: 0.5rem;
    background-color: rgb(61, 166, 236);
    border-radius: 0.75rem;
    font-weight: 600;
    color: white;
}



.safety-status {
    padding: 1rem 1rem;
    border-radius: 0.75rem;
    font-weight: 600;
    background-color: grey; 
    white-space: nowrap;
    color: white;
}

.Automatic {
    display: flex;
    padding: 1rem 1rem;
    border-radius: 0.75rem;
    font-weight: 600;
    color: white;
    align-items: center;
    justify-content: center;
    background-color: rgb(61, 166, 236);
}

.Manual {
    display: flex;
    padding: 1rem 1rem;
    border-radius: 0.75rem;
    font-weight: 600;
    background-color: rgb(214, 160, 67); 
    align-items: center;
    justify-content: center;
    color: white;
}

.popuptext {
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    background-color: rgba(96, 209, 43, 0.64);
    color: #fff;
    text-align: center;
    left: 35%;
    margin: 1rem;
    width: 25%;
    height: 5%;
    top: 18%;
    font-weight: 500;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
}

.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }

@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }