
.right-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    height: 100%;
    gap: 0.25rem;
    width: 150px;
    padding: 0rem 0.5rem;
    background-color: #262829;
    box-shadow: 3px 3px 3px 0  rgb(30, 30, 30);

}

.oiya-logo {
    display: flex;
    margin-top: auto;
    margin-bottom: 1rem;
    width: 10vh;
    height: 10vh;
}